<!-- CHECKOUT SEND ORDER PAGE -->

<?php
	session_start();
	require('connection.php');
?>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Palace - Checkout</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/intext.css">
    <link rel="stylesheet" href="assets/css/pizzafooter.css">
    <link rel="stylesheet" href="assets/css/pizzamenu.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/styles2.css">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108406738-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108406738-1');
</script>
    
    <script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = '83YEG';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
    d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
    ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
})(window,document,window['_fs_namespace'],'script','user');
</script>
</head>

<body>
    <div class="container borderlr">
     <nav class="navbar navbar-default" id="header">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><i class="icon ion-pizza"></i> Pizza Palace</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="index.php">MAIN MENU</a></li>
                    <li role="presentation"><a href="deals.php">DEALS </a></li>
                    <li role="presentation"><a href="specialtypizza.php">SPECIALTY PIZZA</a></li>
                    <li role="presentation"><a href="wings.php">WINGS </a></li>
                    <li role="presentation"><a href="sandwiches.php">SANDWICHES </a></li>
                    <li role="presentation"><a href="sides.php">SIDES </a></li>
                    <li class="active" role="presentation"><a href="cart.php"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> &nbsp;CART </a></li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="row register-form buffer animated fadeIn">
            <div class="col-md-8 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li><a href="cart.php">Cart</a></li>
                <li class = "active"><a href="checkout.php">Checkout</a></li>
            </ul>
            <!--<form class="form-horizontal custom-form">
            	<div class="form-group">
           		<h1><br>Our online ordering platform is currently undergoing maintenance! <br><br> Please order via (705) 503-3131</h1>
            	</div>
            </form>-->
                <form class="form-horizontal custom-form">
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="name-input-field">*First Name: </label>
				<label class="control-label req-field" id="first-req">Required Field </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text"  placeholder="John" id="formfirstname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="name-input-field">*Last Name: </label>
				<label class="control-label req-field" id = "last-req">Required Field </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text"  placeholder="Smith" id="formlastname">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="email-input-field">*Email: </label>
				<label class="control-label req-field" id="email-req">Required Field </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="email"  placeholder="example@email.com" id="formemail">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="phone-input-field">*Callback Phone #: </label>
				<label class="control-label req-field" id = "phone-req">Required Field </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="tel"  placeholder="123-456-7890" id="formphone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="address1-input-field">*Address Line 1: </label>
				<label class="control-label req-field" id = "add1-req">Required Field </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text"  placeholder="1 Main St" id="formaddr1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="address2-input-field">Address Line 2: </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text" placeholder="Unit 20" id="formaddr2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="city-input-field">*City: </label>
				<label class="control-label req-field" id = "city-req">Required Field </label>
				<label class="control-label req-field" id = "city2-req">We Only Deliver within Barrie</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text" placeholder="Barrie" id="formcity">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="postal-code-input-field">*Postal Code: </label>
				<label class="control-label req-field" id="postal-req">Required Field </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text" placeholder = "A1B 2C3" id="formpostal">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="delivery-instruct-input-field">Delivery Instructions For Driver: </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text" placeholder = "Ring doorbell when here" id="formdelivinstruct">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="dropdown-input-field">*Payment Type: </label>
				<label class="control-label req-field" id= "pay-req">Required Field </label>
                        </div>
                        <div class="col-sm-4 input-column">
                            <div class="radio">
                                <label>
                                    <input type="radio" class ="pay-option" value="cash" name="formpaytype" checked>Cash
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class = "pay-option" value="debit/credit" name="formpaytype">Debit or Credit Card
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 label-column">
                            <label class="control-label" for="dropdown-input-field2">Delivery Type: </label>
                            <label class="control-label req-field2">5$ Delivery within Barrie <br> (additional charge outside of Barrie) </label>
                        </div>
                        <div class="col-sm-4 input-column">
                            <div class="radio">
                                <label>
                                    <input type="radio" class ="deliv-option" value="delivery" name="formdelivtype" checked>Delivery
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" class = "deliv-option" value="pickup" name="formdelivtype">Pickup
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="header3" onclick="sendorder()">
                        SEND ORDER
                    </div>
                    <div class = "col-sm-6 col-sm-offset-3">
                    	<label class="control-label req-field" id="pizza-time">We are not delivering pizza at this time.</label>
                    </div>
		<script type="text/javascript">
			function emptyCheck(arg1){
				if(typeof arg1 == 'undefined' || arg1 == null || arg1 == 'fill'){
					return 1;
				}
			}
			function sendorder(){
				//get order time stuff
				var d = new Date();
				var day = d.getDay();
				var hrs = d.getHours();
				var mins = d.getMinutes();

				var cart_empty = <?php echo json_encode($_SESSION['cart'])?>;
				var order_empty = <?php echo json_encode($_SESSION['user_id'])?>;
				var fname = document.getElementById('formfirstname').value;
				var lname = document.getElementById('formlastname').value;
				var email = document.getElementById('formemail').value;
				var phonenum = document.getElementById('formphone').value;
				var addr1 = document.getElementById('formaddr1').value;
				var addr2 = document.getElementById('formaddr2').value;
				var city = document.getElementById('formcity').value
				var postcode = document.getElementById('formpostal').value;
				var delivinstruct = document.getElementById('formdelivinstruct').value;
				//pay type
				var paytype = document.getElementsByName('formpaytype');
				var payment;
				//delivtype
				var delivtype = document.getElementsByName('formdelivtype');
				var deliv;
				//payment and deliv type
				for(var i = 0; i < paytype.length; i++){
				    if(paytype[i].checked){
				        payment = paytype[i].value;
				    }
				}
				for(var i = 0; i < delivtype.length; i++){
				    if(delivtype[i].checked){
				        deliv = delivtype[i].value;
				    }
				}
				//if something has been left blank
				if(fname == '' || lname == '' || email == '' || phonenum == '' || addr1 == '' || city == '' || postcode == '' || paytype == '' || delivtype == ''){
					//alert('A required field has been left blank');
					//check first name
					if(fname ==''){
						window.scrollTo(0, 0);
						document.getElementById("first-req").style.display = "block";
					}
					else{
						document.getElementById("first-req").style.display = "none";
					}
					//check last name
					if(lname ==''){
						window.scrollTo(0, 0);
						document.getElementById("last-req").style.display = "block";
					}
					else{
						document.getElementById("last-req").style.display = "none";
					}
					//check email
					if(email==''){
						window.scrollTo(0, 0);
						document.getElementById("email-req").style.display = "block";
					}
					else{
						document.getElementById("email-req").style.display = "none";
					}
					//check phonenum
					if(phonenum==''){
						window.scrollTo(0, 0);
						document.getElementById("phone-req").style.display = "block";
					}
					else{
						document.getElementById("phone-req").style.display = "none";
					}
					//check address1
					if(addr1==''){
						window.scrollTo(0, 0);
						document.getElementById("add1-req").style.display = "block";
					}
					else{
						document.getElementById("add1-req").style.display = "none";
					}
					//check city
					if(city==''){
						window.scrollTo(0, 0);
						document.getElementById("city-req").style.display = "block";
					}
					else{
						document.getElementById("city-req").style.display = "none";
					}
					
					//check postal code
					if(postcode==''){
						window.scrollTo(0, 0);
						document.getElementById("postal-req").style.display = "block";
					}
					else{
						document.getElementById("postal-req").style.display = "none";
					}
					
					//check payment option
					if(paytype==''){
						window.scrollTo(0, 600);
						document.getElementById("pay-req").style.display = "block";
					}
					else{
						document.getElementById("pay-req").style.display = "none";
					}				
					//check if correct city is filled out
					if(city != "Barrie" || city != "barrie")
					{
					window.scrollTo(0, 400);
					document.getElementById("city2-req").style.display = "block";
					}
					else if(city == "Barrie" || city == "barrie")
					{
					document.getElementById("city2-req").style.display = "none";
					}
				}
				//Mon - Thurs open after 11am
				else if( day >= 1 && day <=4 && hrs < 11){
					window.scrollTo(0, 400);
					document.getElementById("pizza-time").style.display = "block";
				}
				//Fri open after 10am
				else if( day == 5 && hrs < 10){
					window.scrollTo(0, 400);
					document.getElementById("pizza-time").style.display = "block";
				}
				//Sat open until 2am and after 10am
				else if( day == 6 && (hrs < 10 && hrs >= 2)){
					window.scrollTo(0, 400);
					document.getElementById("pizza-time").style.display = "block";
				}
				//Sat open until 2am and after 11am
				else if( day == 0 && (hrs < 11 && hrs >= 2)){
					window.scrollTo(0, 400);
					document.getElementById("pizza-time").style.display = "block";
				}	
				else if(emptyCheck(cart_empty) == 1 || emptyCheck(order_empty) == 1){
					alert('Your cart appears empty to us, please add an item, or remove any current items and re-add them');
				}
				//check if they live in barrie
				//else if(city != "Barrie" && city != "barrie")
				//{
				//window.scrollTo(0, 400);
				//	document.getElementById("city2-req").style.display = "block";
				//}
				//send order
				else {
					var info = [];
					info[0] = "Name: " + fname;
					info[1] = " " + lname ;
					info[2] = "Email: " + email;
					info[3] = "Phone: " + phonenum;
					info[4] = "Address 1: " + addr1;
					info[5] = "Address 2: " + addr2;
					info[6] = "City: " + city;
					info[7] = "Postal Code: " + postcode;
					info[8] = "Delivery Instructions: " + delivinstruct;
					info[9] = "Payment: " + payment;
					info[10] = "Delivery or Pickup: " + deliv;
					
					//ajax form submit
					$.ajax({url: "insert.php", type: "GET", data: {customer_info : info}, 
					success: function(result){	
						window.location.replace("http://orderpizzapalace.ca/checkout-confirm2.php");
					},
					//error catcher
					error: function (xhr, ajaxOptions, thrownError) {
						alert("ERROR:" + xhr.responseText+" - "+thrownError);
					}				
					});
					};
				}	
		</script>
                    
                </form>
            </div>
            </div>
            <div class="col-md-12 footerdiv">
                <footer>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 footer-contacts">
                            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                                <p style="color:black">181 Livingstone Street East<br> Barrie, Ontario</p>
                            </div>
                            <div><i class="fa fa-phone footer-contacts-icon"></i>
                                <p style="color:black">(705) 503-3131</p>

                            </div>
                            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                                <p> <a href="#" target="_blank">info@pizzapalaceandwings.com</a></p>
                            </div>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                        <div class="col-md-6 col-sm-4 footer-about">
                            <p> </p>
                            <p> </p>
                            <p> Pricing is subject to change and taxes are not included. Images are indicative of the quality and style of the specification and may not represent wholly the finished product. </p>
                            <strong class ="footer-text-novus"> Website Developed by </strong><a href ="https://novusweb.ca">Novus</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/drop.js"></script>
    //<script src="assets/js/menu_items.js"></script>
</body>

</html>