{% extends "base.html" %}

{% block content %}
    <h1>Customize: {{item.name}}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for pizza in form.pizzas %}
            {{ pizza }}
        {% endfor %}
        {% for pop in form.pops %}
            {{ pop }}
        {% endfor %}
        {% for dip in form.dips %}
            {{ dip }}
        {% endfor %}
        {% for wing in form.wings %}
            {{ wings }}
        {% endfor %} 
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
