{% extends "base.html" %}

{% block content %}            
    <div class="menu-items">
        <img class="menu-img" src="{{url_for('static', filename='img/cyop_image3.jpg')}}" alt="Create Your Own Pizza"/>
        <h2 class="menu-items-title">
            Create Your Own Pizza
        </h2>
        <p class="menu-items-desc">
            Make a custom pizza with our wide variety of toppings
        </p>
        <!--INSERT BUTTON TO LOAD ORDER FORM PAGE HERE--> 
        <!--END OF ORDER FORM-->
    </div>	
    <div class="menu-items">
        <a href="{{ url_for('deals') }}">
            <img class= "menu-img" src="{{url_for('static', filename='img/deals_image.jpg')}}" alt="Deals"/>
            <h2 class="menu-items-title">
                Deals
            </h2>
            <p class="menu-items-desc">
                Various special deals for ordering different combinations
            </p>
        </a>
    </div>
    <div class="menu-items">
        <a href="{{ url_for('specialtypizza') }}">
            <img class = "menu-img" src="{{url_for('static', filename='img/specialty_image.jpg')}}" alt="Specialty Pizza"/>
            <h2 class="menu-items-title">
                Specialty Pizza
            </h2>
            <p class="menu-items-desc">
                Our favourite topping combinations
            </p>
        </a>
    </div>
    <div class="menu-items">
        <a href="{{ url_for('wings') }}">
            <img class="menu-img" src="{{url_for('static', filename='img/wings_image.jpg')}}" alt="Wings"/>
            <h2 class="menu-items-title">
                Wings
            </h2>
            <p class="menu-items-title">
                Juicy and delicious wings in different flavours
            </p>
        </a>
    </div>
    <div class="menu-items">
        <a href="{{ url_for('sandwiches') }}">
            <img class ="menu-img" src="{{url_for('static', filename='img/sandwich_image.jpg')}}" alt="Sandwiches"/>
            <h2 class="menu-items-title">
                Sandwiches
            </h2>
            <p class="menu-items-desc">
                Many types of oven baked sandwiches
            </p>
        </a>
    </div>
    <div class="menu-items">
        <a href="{{ url_for('sides') }}">
            <img class="menu-img" src="{{url_for('static', filename='img/pasta_image.jpg')}}" alt="Sides"/>
            <h2 class="menu-items-title">
                Sides
            </h2>
            <p class="menu-items-desc">
                Pick one of our sides to supplement your order
            </p>
        </a>
    </div>
{% endblock %}