<div class="col-md-3 col-md-offset-0 animated fadeInUp" id="cart">
    <h2 class="cart"><span class="cart"><i class="glyphicon glyphicon-shopping-cart"></i>Cart</span></h2>
    				<!-- SIDECART-->
    <div id="cart_stuff"></div>
    				<!-- END SIDECART-->
    <form method="LINK" action="cart.php">
    <input type = "submit" value ="Checkout" class="btn btn-default" id="cart_button">
    </form>
    <ul class="list-group" id="cart_list2"></ul>
    <ul class="list-group" id="cart_list"></ul>

</div>